* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//cada 1rem equivale ao tamanho do fontsize do root,html
//font-size por exemplo vem por padrao com 16px , 2 rem = 32 px , 1.5rem = 24 px
//root - variaveis de cor disponiveis para todo o projeto.
:root {
    //branco
    --white: #fff;
    //tons de cinza
    --gray-50: #f7f8fa;
    --gray-100: #e6e8eb;
    --gray-200: #afb2b1;
    --gray-500: #808080;
    --gray-800: #494d4b;
    //verde
    --green-500: #04d361;
    //tons de roxo
    --purple-300: #9f75ff;
    --purple-400: #9164fa;
    --purple-500: #8257e5;
    --purple-800: #6f48c9;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%; //equivale a 15 px já que o default é 16
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%; //equivale a 14 px já que o default é 16
    }
}
body {
    background: var(--gray-50);
}

body,
input,
textarea,
button {
    font: 500 1 rem Inter, sans-serif;
    color: var(--gray-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: Lexend, sans-serif;
    color: var(--gray-800);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}
